doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Alexander Voznyi personal site')
        meta(name='author', content='Alexander Voznyi')

        meta(property="og:title" content="Alexander Voznyi personal site")
        meta(property="og:description" content="Junior Web Developer with a proven track record of success in developing and implementing web-based solutions")
        meta(property="og:image" content="https://www.vsanyinclude.com.ua/assets/img/profile.png")
        meta(property="og:url" content="https://www.vsanyinclude.com.ua")

        title Alexander Voznyi CV

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Alexander Voznyi
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.png', alt='Alexander Voznyi')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Alexander
                        span.text-warning Voznyi
                    .subheading.mb-5
                        | Kyiv, Ukraine · 38(093) 547-96-44 ·
                        a(href='mailto:vsanyinclude@gmail.com') vsanyinclude@gmail.com
                    p.lead.mb-5
                        | Detail-oriented and highly-motivated Junior Web Developer with a proven track record of success in developing and implementing web-based solutions, maintaining and updating web applications, and improving the whole programming process.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/vsanyinclude/', target="_blank")
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/inputBrain', target="_blank")
                            i.fab.fa-github
                        a.social-icon(href='https://docs.google.com/document/d/1t4phJ1qKBPbGDQUGpu8MLnX4OS16uNkotAnQLuYbAOk/edit?usp=sharing', target="_blank")
                            i.fas.fa-file-download

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Web Developer
                            .subheading.mb-3 Vergo, Kyiv
                            .flex-shrink-0
                                span.text-primary June 2019 – July 2020 (1 year 1 months)
                            p.main Responsibilities:
                            ul
                                li Providing backend implementation of the business logic for web-site users with premium rights
                                li Developing restful API for the client side
                                li Continuous work with databases, creating new entities and relationships
                                li Providing test coverage of the written code with the help of unit and backend tests
                            p.main Environment & tools:
                            ul
                                li .NET Core 2.2
                                li Entity Framework
                                li PostgreSQL
                                li Angular 7
                                li Git
                                li JetBrains Space


                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Intelitec Solutions
                            p
                                | Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.
                        .flex-shrink-0
                            span.text-primary December 2011 - March 2013

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Web Designer
                            .subheading.mb-3 Shout! Media Productions
                            p
                                | Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
                        .flex-shrink-0
                            span.text-primary July 2010 - December 2011

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Web Design Intern
                            .subheading.mb-3 Shout! Media Productions
                            p
                                | Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
                        .flex-shrink-0
                            span.text-primary September 2008 - June 2010

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-gulp
                        li.list-inline-item
                            i.fab.fa-grunt
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Responsive Design
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Browser Testing & Debugging
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Cross Functional Teams
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Agile Development & Scrum

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')
